body{
   margin: 0px;
   height: 100vh;
   background-color: white;
   border: none;
   padding:none;
}

.content{
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}
.nav-wrapper{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.3s ease;
}

.nav-wrapper .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-wrapper .left-side a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.nav-wrapper .right-side{
  display: inline-flex;
}
.right-side li{
  list-style: none;
  
}
.right-side li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.right-side li a:hover{
  color: #007bff;
  text-decoration: underline;
}

#nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 36px;
    background-color: teal;
    border: none;
    max-width: 1250px;
    margin: auto;
    position: fixed;
    z-index: 5;
    width: 100%;
}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom .5s;
}

#landing{
    background-color: lightcoral;
    margin: 0;
    padding: 0;
}

h1, h2 {
  font-weight: 200;
  margin: 0.01rem;
}

.greeting-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.txt-type > .txt{
    border-right:.2rem solid #777 ;
}


@media(min-width: 1200px){
    h2{
        font-size: 5rem;
    }
}

@media(min-width: 800px){
    h2{
        font-size: 3rem;
    }
}


@media(min-width: 500px){
    h2{
        font-size: 2.5rem;
    }
}
#link-section-container{
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 25%;
    border: none;
    outline: none;
    flex-direction:row;
   
}

.link-section{
    color: cornsilk;
    border-color: red;
    border-radius: 15px;
}

.link-section a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkcyan;
    text-decoration: none;
}

#contact{
    background-color: lightgoldenrodyellow;
    padding:20px;
}

#contact .form-group{
    color: darkgray;
    padding-bottom: 15px;
}

#contact label{
    display: block;
}

#contact  p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    width: 99%; 
    color: darkgray;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 8px;
}

#contact input[type="text"],[type="email"], textarea{
    padding: 8px;
    font-size: 12px;
    width: 99%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    outline: none;
    border-radius: 15px;
}

#contact textarea{
    resize: vertical;
    min-height: 100px;
}

#contact input[type="text"]:focus,[type="email"]:focus, textarea:focus{
    box-shadow: 0 0 2px coral;
}

::placeholder{
    color: cornflowerblue;
    opacity: .7;
}

#contact button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgreen;
    font-size: 12px;
    color:white;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
}

#contact button:hover{
    background-color: darkgreen; 
    transition-delay:10ms;
    cursor:pointer;
}

#contact a{
    color: red;
    text-decoration: none;
}

#contact a:hover{
    color: lightsalmon
}

#main-footer #copyright{
    background-color: white;
    margin: 0;
    display: flex;
    justify-content: center
}
#main-footer #copyright p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    text-align: center;
    padding: 0;
    margin: 0;
}

#footer-icons{
    display: flex;
    justify-content: center;
}

#main-footer li{
    list-style: none;
    display: inline-block;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    color: forestgreen;
    
}

#main-footer li a:hover{
    color: indigo;
    transition-delay:50ms;
}

#main-footer a, #main-footer a:visited{
    color:green ;
    text-decoration: none;
}