
.body{
    margin: 0px
}

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 36px;
}

.left-side{
    text-transform: uppercase;
}

.right-side{
    display: flex;
    
}

.nav-wrapper .right-side > div{
    margin-right: 20px;
    text-transform: uppercase;
}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom .5s;
}

.nav-link-wrapper a{
    
   color:  burlywood;
   text-decoration: none;
}

.nav-link-wrapper:hover{
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover{
   color:  black
}

.contact{
    background-color: lightgoldenrodyellow;
    padding:20px;
}

.contact .form-group{
    color: darkgray;
    padding-bottom: 15px;
}

.contact label{
    display: block;
}

.contact input[type="text"],[type="email"], .contact textarea{
    padding: 8px;
    width: 100%;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    border-radius: 10px;
}

.contact input[type="submit"]{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgreen;
    font-size: 12px;
    color:white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
}

.contact input[type="submit"]:hover{
   background-color: darkgreen; 
}

.copyright{
    
}